@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
/* File: src/App.css */
.fixed-screen {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  overflow: hidden;
  transform-origin: top left;
}

/* Scale proportionally on smaller screens */
body {
  margin: 0;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.fixed-screen {
  transform-origin: top left; /* scale from top-left corner */
  transform: scale(
    min(100vw / 1920, 100vh / 1080)
  );
  width: 1920px;
  height: 1080px;
}
